<p>Dear %recipient.name% and Guest,</p>
<p>
Mel and Al here. We would like to formally invite you and a guest to our wedding on July 30th in Davenport, IA! We have created our own special website for our event where you will be able to RSVP, find information about the ceremony, reception and hotels, as well as look at some fun pictures of our little family. <a href="http://marzenilsemanwedding.com">Check it out Here.</a>
</p>

<p>
<strong>Please fill out the RSVP twice.</strong>
Once for you, and once for your guest (once is fine if you can't make it). Hope to see you both there!
</p>

<p>Love,</p>

<p>Mel &amp; Al</p>
